<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gwt-mpv/src/main/java/org/gwtmpv/generators/ViewGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.gwtmpv.generators.ViewGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--inputDirectory src/main/java --packageName com.bizo.gwthack.client.app --outputDirectory bin/java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gwt-hack"/>
</launchConfiguration>
