<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd"
  version="2.3">

  <display-name>GwtHack</display-name>

  <listener>
    <listener-class>com.bizo.gwthack.server.ServerRegistryListener</listener-class>
  </listener>

  <!-- Handles GWT RPC commands -->
  <servlet>
    <servlet-name>dispatchServlet</servlet-name>
    <servlet-class>com.bizo.gwthack.server.DispatchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatchServlet</servlet-name>
    <url-pattern>/gwthack/dispatch/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
